<div class="contentBox">
	<div class="text">
		<h3 class="text"> Senhas </h3>
	</div>
	<form method="post" ng-submit="signin()"> 
		<div class="TextLoginField">
			<div>
				<label for="user"><h6>E-mail :    </h6></label>
				<input type="text" id="user" name="user" class="LoginField" ng-model="email">
			</div>
			<div>
				<label for="user"><h6>Senha :    </h6></label>
				<input type="password" id="password" name="password" class="LoginField" ng-model="password">
			</div>
			<div>
				<input type="submit" value="Logar" class="btn btn-block btn-xs" ng-disabled="!email || !password">
			</div>
		</div>
	</form>
</div>	
